################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StarshipConstruction/v15
/src/__pycache__
/StarshipConstruction.pyproj
/StarshipConstruction.sln
